.AddPost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 600px;
    height: 100%;  
}

.AddPost .caption {
    width: 100%;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 5px 10px;
}

.AddPost progress {
    width: 300px;
    margin-bottom: 15px;
}