.PostPreview {
    height: 100%;
    border: 1px solid #ddd;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.previews {
    min-height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previews:focus {
    outline: transparent;
}

.thumbsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16px;
    height: 100%;
}


.thumb {
    display: flex;
    justify-content: center;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 100px;
    height: 100px;
    padding: 2px;
    box-sizing: 'border-box'
}

.thumbInner {
    display: flex;
    min-width: 0;
    overflow: hidden;
}

.img {
    object-fit: contain;
    display: flex;
    height: 100%;
    align-items: center;
}