.ChatRoom {
    background-color: white;
    margin-top: 10px;
    padding: 10px;
}

.messages-container::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.messages-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 15px;
    padding-bottom: 60px;
    height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.ChatRoom > form {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 15px 10px;
}

.ChatRoom > form > button {
    display: none;
}

.ChatRoom .message-input {
    width: 100%;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
}
