.PostView {
    text-align: left;
    width: 100%;
    background-color: white;
    margin-top: 5px;
}

.PostView div {
    padding: 7px 10px;
}

.PostView .image {
    width: 100%;
}

.PostView .post-header {
    display: flex;
    align-items: center;
}

.PostView .post-header .element {
    text-transform: capitalize;
}