.NavBar {
    background-color: #fff;
    height: 50px;
    width: 600px;
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.NavBar .logo{
    font-weight: bold;
}

.NavBar .icons-container {
    width: 130px;
    display: flex;
    justify-content: space-between;
}

