@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

$base-color: #FAFAFA;
$max-width: 600px;
$default-font-size: 16px;
$font-family: 'Roboto', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
}

*:focus {
  outline: none;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $base-color;
  font-family: $font-family;
  min-height: 100vh;
  max-width: 100vw;
  font-size: $default-font-size;
}


.App {
  text-align: center;
  max-width: $max-width;
  background-color: #fafafa;
  min-height: 100vh;
  position: relative;
}

.bottom-box-shadow {
  box-shadow: 0px 1px 3px 0px rgba(138, 138, 138, 0.4);
}

.top-box-shadow {
  box-shadow: 0px -1px 3px 0px rgba(138, 138, 138, 0.4);
}

a {
  text-decoration: none;
  color: #000;
}

textarea {
  font-size: $default-font-size ;
  font-family: $font-family;
}

textarea:focus {
  outline: none;
}

.spinner {
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 45px)
}